In [ ]:
!pip install pyspark

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
.appName("MultiLinearRegression") \
.master("local[4]") \
.config("spark.driver.memory","4g") \
.config("spark.executor.memory","4g") \
.getOrCreate()

In [3]:
# Kaynak: https://www.kaggle.com/kumarajarshi/life-expectancy-who

In [4]:
df = spark.read.format("csv") \
.option("header", True) \
.option("inferSchema", True) \
.option("sep",",") \
.load("/content/Life Expectancy Data.csv")

In [5]:
df.toPandas().head()

       Country  Year  ... Income composition of resources  Schooling
0  Afghanistan  2015  ...                           0.479       10.1
1  Afghanistan  2014  ...                           0.476       10.0
2  Afghanistan  2013  ...                           0.470        9.9
3  Afghanistan  2012  ...                           0.463        9.8
4  Afghanistan  2011  ...                           0.454        9.5

[5 rows x 22 columns]

In [6]:
df.printSchema()

root
 |-- Country: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Status: string (nullable = true)
 |-- Life expectancy : double (nullable = true)
 |-- Adult Mortality: integer (nullable = true)
 |-- infant deaths: integer (nullable = true)
 |-- Alcohol: double (nullable = true)
 |-- percentage expenditure: double (nullable = true)
 |-- Hepatitis B: integer (nullable = true)
 |-- Measles : integer (nullable = true)
 |--  BMI : double (nullable = true)
 |-- under-five deaths : integer (nullable = true)
 |-- Polio: integer (nullable = true)
 |-- Total expenditure: double (nullable = true)
 |-- Diphtheria : integer (nullable = true)
 |--  HIV/AIDS: double (nullable = true)
 |-- GDP: double (nullable = true)
 |-- Population: double (nullable = true)
 |--  thinness  1-19 years: double (nullable = true)
 |--  thinness 5-9 years: double (nullable = true)
 |-- Income composition of resources: double (nullable = true)
 |-- Schooling: double (nullable = true)

In [7]:
new_cols = ["Country", "Year", "Status", "label", "AdultMortality",
      "InfantDeaths", "Alcohol", "PercentageExpenditure", "HepatitisB", "Measles", "BMI", "UnderFiveDeaths",
      "Polio", "TotalExpenditure", "Diphtheria", "HIV_AIDS", "GDP", "Population", "Thinness119", "Thinness59",
      "IncomeCompositionOfResources", "Schooling"]

In [8]:
df2 = df.toDF(*new_cols)

In [9]:
df2.toPandas().head()

       Country  Year  ... IncomeCompositionOfResources  Schooling
0  Afghanistan  2015  ...                        0.479       10.1
1  Afghanistan  2014  ...                        0.476       10.0
2  Afghanistan  2013  ...                        0.470        9.9
3  Afghanistan  2012  ...                        0.463        9.8
4  Afghanistan  2011  ...                        0.454        9.5

[5 rows x 22 columns]

In [10]:
categorical_cols = ["Country","Status"]
'''
numerical_cols = [ "Year", "AdultMortality",
      "InfantDeaths", "Alcohol", "PercentageExpenditure", "HepatitisB", "Measles", "BMI", "UnderFiveDeaths",
      "Polio", "TotalExpenditure", "Diphtheria", "HIV_AIDS", "GDP", "Population", "Thinness119", "Thinness59",
      "IncomeCompositionOfResources", "Schooling"]
'''
numerical_cols = [ "Year", "AdultMortality",
      "InfantDeaths", "Alcohol",  "BMI", "UnderFiveDeaths",
      "TotalExpenditure", "Diphtheria", "HIV_AIDS", "GDP",  
      "IncomeCompositionOfResources", "Schooling"]
label = ["label"]

### **🔍Cleaning**

In [11]:
df2.describe().toPandas().head()

  summary      Country  ... IncomeCompositionOfResources           Schooling
0   count         2938  ...                         2771                2775
1    mean         None  ...           0.6275510645976166  11.992792792792786
2  stddev         None  ...           0.2109035551515931  3.3589197211023554
3     min  Afghanistan  ...                          0.0                 0.0
4     max     Zimbabwe  ...                        0.948                20.7

[5 rows x 23 columns]

In [12]:
df3 = df2.na.drop()

In [13]:
df3.describe().toPandas().head()

  summary      Country  ... IncomeCompositionOfResources           Schooling
0   count         1649  ...                         1649                1649
1    mean         None  ...           0.6315512431776829  12.119890842935117
2  stddev         None  ...          0.18308872643487184   2.795387538952672
3     min  Afghanistan  ...                          0.0                 4.2
4     max     Zimbabwe  ...                        0.936                20.7

[5 rows x 23 columns]

### **🔍Preprocessing**

In [15]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.ml import Pipeline, PipelineModel
from pyspark.ml.regression import LinearRegression, LinearRegressionModel

In [16]:
status_string_indexer = StringIndexer().setInputCol("Status").setOutputCol("StatusIndexed")

In [17]:
encoder = OneHotEncoder().setInputCols(["StatusIndexed"]).setOutputCols(["StatusEncoded"])

In [34]:
numerical_cols + encoder.getOutputCols()

['Year',
 'AdultMortality',
 'InfantDeaths',
 'Alcohol',
 'BMI',
 'UnderFiveDeaths',
 'TotalExpenditure',
 'Diphtheria',
 'HIV_AIDS',
 'GDP',
 'IncomeCompositionOfResources',
 'Schooling',
 'StatusEncoded']

In [18]:
vector_assembler = VectorAssembler().setInputCols(numerical_cols + encoder.getOutputCols()) \
.setOutputCol("features")

### **🔍Linear Model**

In [36]:
linear_regression_object = LinearRegression().setFeaturesCol("features").setLabelCol("label")

In [37]:
pipeline_object = Pipeline().setStages([status_string_indexer, encoder, vector_assembler, linear_regression_object])

In [38]:
train_df, test_df = df3.randomSplit([0.8, 0.2], seed=142)

In [39]:
train_df.cache()
test_df.cache()

DataFrame[Country: string, Year: int, Status: string, label: double, AdultMortality: int, InfantDeaths: int, Alcohol: double, PercentageExpenditure: double, HepatitisB: int, Measles: int, BMI: double, UnderFiveDeaths: int, Polio: int, TotalExpenditure: double, Diphtheria: int, HIV_AIDS: double, GDP: double, Population: double, Thinness119: double, Thinness59: double, IncomeCompositionOfResources: double, Schooling: double]

### **🔍Model Tuning**

In [40]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder

In [41]:
param_grid = ParamGridBuilder() \
.addGrid(linear_regression_object.aggregationDepth, [2,5]) \
.addGrid(linear_regression_object.elasticNetParam, [0.0,0.02]) \
.addGrid(linear_regression_object.epsilon, [1.35, 1.55]) \
.addGrid(linear_regression_object.maxIter, [10, 20]) \
.addGrid(linear_regression_object.regParam, [0.00, 0.01, 0.05]) \
.addGrid(linear_regression_object.solver, ["auto", "normal", "l-bfgs"]) \
.addGrid(linear_regression_object.tol, [1.0E-6, 1.0E-4]) \
.build()

### **🔍Cross Validation**

In [42]:
cv = CrossValidator() \
.setEstimator(pipeline_object) \
.setEvaluator(RegressionEvaluator()) \
.setEstimatorParamMaps(param_grid) \
.setNumFolds(5) \
.setParallelism(2)

In [43]:
cv_model = cv.fit(train_df)

In [44]:
cv_model.transform(test_df).select("label","prediction").toPandas().head()

   label  prediction
0   56.7   59.190128
1   58.1   62.004829
2   58.8   62.712977
3   59.9   63.411241
4   75.3   73.911722

### **⌛Best Model**

In [45]:
best_model = cv_model.bestModel

In [46]:
type(best_model)

pyspark.ml.pipeline.PipelineModel

In [47]:
lr_model = best_model.stages[-1]
lr_model.coefficients
lr_model.intercept

311.3858251219486

In [48]:
lr_model.summary.r2

0.8376909414684943

In [49]:
lr_model.explainParams().split("\n")

['aggregationDepth: suggested depth for treeAggregate (>= 2). (default: 2, current: 2)',
 'elasticNetParam: the ElasticNet mixing parameter, in range [0, 1]. For alpha = 0, the penalty is an L2 penalty. For alpha = 1, it is an L1 penalty. (default: 0.0, current: 0.0)',
 'epsilon: The shape parameter to control the amount of robustness. Must be > 1.0. Only valid when loss is huber (default: 1.35, current: 1.35)',
 'featuresCol: features column name. (default: features, current: features)',
 'fitIntercept: whether to fit an intercept term. (default: True)',
 'labelCol: label column name. (default: label, current: label)',
 'loss: The loss function to be optimized. Supported options: squaredError, huber. (default: squaredError)',
 'maxBlockSizeInMB: maximum memory in MB for stacking input data into blocks. Data is stacked within partitions. If more than remaining data size in a partition then it is adjusted to the data size. Default 0.0 represents choosing optimal value, depends on specific algorithm. Must be >= 0. (default: 0.0)',
 'maxIter: max number of iterations (>= 0). (default: 100, current: 10)',
 'predictionCol: prediction column name. (default: prediction)',
 'regParam: regularization parameter (>= 0). (default: 0.0, current: 0.0)',
 'solver: The solver algorithm for optimization. Supported options: auto, normal, l-bfgs. (default: auto, current: auto)',
 'standardization: whether to standardize the training features before fitting the model. (default: True)',
 'tol: the convergence tolerance for iterative algorithms (>= 0). (default: 1e-06, current: 1e-06)',
 'weightCol: weight column name. If this is not set or empty, we treat all instance weights as 1.0. (undefined)']