In [ ]:
!pip install pyspark

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
.appName("MultiLinearRegression") \
.master("local[4]") \
.config("spark.driver.memory","4g") \
.config("spark.executor.memory","4g") \
.getOrCreate()

In [3]:
# Kaynak: https://www.kaggle.com/kumarajarshi/life-expectancy-who

In [4]:
df = spark.read.format("csv") \
.option("header", True) \
.option("inferSchema", True) \
.option("sep",",") \
.load("/content/Life Expectancy Data.csv")

In [5]:
df.toPandas().head()

       Country  Year  ... Income composition of resources  Schooling
0  Afghanistan  2015  ...                           0.479       10.1
1  Afghanistan  2014  ...                           0.476       10.0
2  Afghanistan  2013  ...                           0.470        9.9
3  Afghanistan  2012  ...                           0.463        9.8
4  Afghanistan  2011  ...                           0.454        9.5

[5 rows x 22 columns]

In [6]:
df.printSchema()

root
 |-- Country: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Status: string (nullable = true)
 |-- Life expectancy : double (nullable = true)
 |-- Adult Mortality: integer (nullable = true)
 |-- infant deaths: integer (nullable = true)
 |-- Alcohol: double (nullable = true)
 |-- percentage expenditure: double (nullable = true)
 |-- Hepatitis B: integer (nullable = true)
 |-- Measles : integer (nullable = true)
 |--  BMI : double (nullable = true)
 |-- under-five deaths : integer (nullable = true)
 |-- Polio: integer (nullable = true)
 |-- Total expenditure: double (nullable = true)
 |-- Diphtheria : integer (nullable = true)
 |--  HIV/AIDS: double (nullable = true)
 |-- GDP: double (nullable = true)
 |-- Population: double (nullable = true)
 |--  thinness  1-19 years: double (nullable = true)
 |--  thinness 5-9 years: double (nullable = true)
 |-- Income composition of resources: double (nullable = true)
 |-- Schooling: double (nullable = true)

In [7]:
new_cols = ["Country", "Year", "Status", "label", "AdultMortality",
      "InfantDeaths", "Alcohol", "PercentageExpenditure", "HepatitisB", "Measles", "BMI", "UnderFiveDeaths",
      "Polio", "TotalExpenditure", "Diphtheria", "HIV_AIDS", "GDP", "Population", "Thinness119", "Thinness59",
      "IncomeCompositionOfResources", "Schooling"]

In [8]:
df2 = df.toDF(*new_cols)

In [9]:
df2.toPandas().head()

       Country  Year  ... IncomeCompositionOfResources  Schooling
0  Afghanistan  2015  ...                        0.479       10.1
1  Afghanistan  2014  ...                        0.476       10.0
2  Afghanistan  2013  ...                        0.470        9.9
3  Afghanistan  2012  ...                        0.463        9.8
4  Afghanistan  2011  ...                        0.454        9.5

[5 rows x 22 columns]

In [10]:
categorical_cols = ["Country","Status"]
'''
numerical_cols = [ "Year", "AdultMortality",
      "InfantDeaths", "Alcohol", "PercentageExpenditure", "HepatitisB", "Measles", "BMI", "UnderFiveDeaths",
      "Polio", "TotalExpenditure", "Diphtheria", "HIV_AIDS", "GDP", "Population", "Thinness119", "Thinness59",
      "IncomeCompositionOfResources", "Schooling"]
'''
numerical_cols = [ "Year", "AdultMortality",
      "InfantDeaths", "Alcohol",  "BMI", "UnderFiveDeaths",
      "TotalExpenditure", "Diphtheria", "HIV_AIDS", "GDP",  
      "IncomeCompositionOfResources", "Schooling"]
label = ["label"]

In [11]:
df2.describe().toPandas().head()

  summary      Country  ... IncomeCompositionOfResources           Schooling
0   count         2938  ...                         2771                2775
1    mean         None  ...           0.6275510645976166  11.992792792792786
2  stddev         None  ...           0.2109035551515931  3.3589197211023554
3     min  Afghanistan  ...                          0.0                 0.0
4     max     Zimbabwe  ...                        0.948                20.7

[5 rows x 23 columns]

In [12]:
df3 = df2.na.drop()

In [13]:
df3.describe().toPandas().head()

  summary      Country  ... IncomeCompositionOfResources           Schooling
0   count         1649  ...                         1649                1649
1    mean         None  ...           0.6315512431776829  12.119890842935117
2  stddev         None  ...          0.18308872643487184   2.795387538952672
3     min  Afghanistan  ...                          0.0                 4.2
4     max     Zimbabwe  ...                        0.936                20.7

[5 rows x 23 columns]

In [15]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.ml import Pipeline, PipelineModel
from pyspark.ml.regression import LinearRegression, LinearRegressionModel

In [16]:
status_string_indexer = StringIndexer().setInputCol("Status").setOutputCol("StatusIndexed")

In [17]:
encoder = OneHotEncoder().setInputCols(["StatusIndexed"]).setOutputCols(["StatusEncoded"])

In [18]:
vector_assembler = VectorAssembler().setInputCols(numerical_cols + encoder.getOutputCols()) \
.setOutputCol("features")

In [34]:
numerical_cols + encoder.getOutputCols()

['Year',
 'AdultMortality',
 'InfantDeaths',
 'Alcohol',
 'BMI',
 'UnderFiveDeaths',
 'TotalExpenditure',
 'Diphtheria',
 'HIV_AIDS',
 'GDP',
 'IncomeCompositionOfResources',
 'Schooling',
 'StatusEncoded']

In [19]:
linear_regression_object = LinearRegression().setFeaturesCol("features").setLabelCol("label")

In [20]:
pipeline_object = Pipeline().setStages([status_string_indexer, encoder, vector_assembler, linear_regression_object])

In [21]:
train_df, test_df = df3.randomSplit([0.8, 0.2], seed=142)

In [35]:
#veriyi bellege alir,surekli kullanacagimiz veriler icin yapariz,ama gereginden fazla veri olursa bellek kapasitesini gecme riski olabilir.
train_df.cache()
test_df.cache()

DataFrame[Country: string, Year: int, Status: string, label: double, AdultMortality: int, InfantDeaths: int, Alcohol: double, PercentageExpenditure: double, HepatitisB: int, Measles: int, BMI: double, UnderFiveDeaths: int, Polio: int, TotalExpenditure: double, Diphtheria: int, HIV_AIDS: double, GDP: double, Population: double, Thinness119: double, Thinness59: double, IncomeCompositionOfResources: double, Schooling: double]

In [23]:
pipline_model = pipeline_object.fit(train_df)

In [24]:
pipline_model.transform(test_df).select("label","prediction").toPandas().head()

   label  prediction
0   56.7   59.190128
1   58.1   62.004829
2   58.8   62.712977
3   59.9   63.411241
4   75.3   73.911722

In [25]:
lr_model = pipline_model.stages[-1]

In [26]:
lr_model.coefficients

DenseVector([-0.1288, -0.017, 0.0837, -0.1189, 0.0322, -0.0638, 0.1301, 0.0189, -0.4489, 0.0001, 9.5061, 0.9633, -0.7417])

In [27]:
lr_model.intercept

311.3858251219486

In [28]:
lr_model.summary.r2

0.8376909414684943

In [29]:
lr_model.summary.rootMeanSquaredError

3.5482580736921023

In [30]:
lr_model.summary.pValues

[4.906680344252123e-07,
 0.0,
 1.0839773523230178e-11,
 0.001313976726802668,
 3.488250992500497e-07,
 4.583222690257571e-12,
 0.0032213559086495813,
 0.00010182824188298412,
 0.0,
 2.0167800762749266e-10,
 0.0,
 0.0,
 0.04916901684854036,
 1.388568815485769e-09]

In [32]:
zipped = zip(lr_model.summary.pValues, numerical_cols+["Status","Sabit"])
sorted_zip = sorted(zipped)

In [33]:
for i in sorted_zip:
    print(i)

(0.0, 'AdultMortality')
(0.0, 'HIV_AIDS')
(0.0, 'IncomeCompositionOfResources')
(0.0, 'Schooling')
(4.583222690257571e-12, 'UnderFiveDeaths')
(1.0839773523230178e-11, 'InfantDeaths')
(2.0167800762749266e-10, 'GDP')
(1.388568815485769e-09, 'Sabit')
(3.488250992500497e-07, 'BMI')
(4.906680344252123e-07, 'Year')
(0.00010182824188298412, 'Diphtheria')
(0.001313976726802668, 'Alcohol')
(0.0032213559086495813, 'TotalExpenditure')
(0.04916901684854036, 'Status')